<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf</string>
		<string>Merriweather-VariableFont_opsz,wdth,wght.ttf</string>
		<string>Merriweather_120pt-Black.ttf</string>
		<string>Merriweather_120pt-BlackItalic.ttf</string>
		<string>Merriweather_120pt-Bold.ttf</string>
		<string>Merriweather_120pt-BoldItalic.ttf</string>
		<string>Merriweather_120pt-ExtraBold.ttf</string>
		<string>Merriweather_120pt-ExtraBoldItalic.ttf</string>
		<string>Merriweather_120pt-Italic.ttf</string>
		<string>Merriweather_120pt-Light.ttf</string>
		<string>Merriweather_120pt-LightItalic.ttf</string>
		<string>Merriweather_120pt-Medium.ttf</string>
		<string>Merriweather_120pt-MediumItalic.ttf</string>
		<string>Merriweather_120pt-Regular.ttf</string>
		<string>Merriweather_120pt-SemiBold.ttf</string>
		<string>Merriweather_120pt-SemiBoldItalic.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-Black.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-BlackItalic.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-Bold.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-BoldItalic.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-ExtraBold.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-Italic.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-Light.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-LightItalic.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-Medium.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-MediumItalic.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-Regular.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-SemiBold.ttf</string>
		<string>Merriweather_120pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Merriweather_24pt-Black.ttf</string>
		<string>Merriweather_24pt-BlackItalic.ttf</string>
		<string>Merriweather_24pt-Bold.ttf</string>
		<string>Merriweather_24pt-BoldItalic.ttf</string>
		<string>Merriweather_24pt-ExtraBold.ttf</string>
		<string>Merriweather_24pt-ExtraBoldItalic.ttf</string>
		<string>Merriweather_24pt-Italic.ttf</string>
		<string>Merriweather_24pt-Light.ttf</string>
		<string>Merriweather_24pt-LightItalic.ttf</string>
		<string>Merriweather_24pt-Medium.ttf</string>
		<string>Merriweather_24pt-MediumItalic.ttf</string>
		<string>Merriweather_24pt-Regular.ttf</string>
		<string>Merriweather_24pt-SemiBold.ttf</string>
		<string>Merriweather_24pt-SemiBoldItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Black.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-BlackItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Bold.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-BoldItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-ExtraBold.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Italic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Light.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-LightItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Medium.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-MediumItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Regular.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-SemiBold.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Merriweather_36pt-Black.ttf</string>
		<string>Merriweather_36pt-BlackItalic.ttf</string>
		<string>Merriweather_36pt-Bold.ttf</string>
		<string>Merriweather_36pt-BoldItalic.ttf</string>
		<string>Merriweather_36pt-ExtraBold.ttf</string>
		<string>Merriweather_36pt-ExtraBoldItalic.ttf</string>
		<string>Merriweather_36pt-Italic.ttf</string>
		<string>Merriweather_36pt-Light.ttf</string>
		<string>Merriweather_36pt-LightItalic.ttf</string>
		<string>Merriweather_36pt-Medium.ttf</string>
		<string>Merriweather_36pt-MediumItalic.ttf</string>
		<string>Merriweather_36pt-Regular.ttf</string>
		<string>Merriweather_36pt-SemiBold.ttf</string>
		<string>Merriweather_36pt-SemiBoldItalic.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-Black.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-BlackItalic.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-Bold.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-BoldItalic.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-ExtraBold.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-Italic.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-Light.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-LightItalic.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-Medium.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-MediumItalic.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-Regular.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-SemiBold.ttf</string>
		<string>Merriweather_36pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Merriweather_48pt-Black.ttf</string>
		<string>Merriweather_48pt-BlackItalic.ttf</string>
		<string>Merriweather_48pt-Bold.ttf</string>
		<string>Merriweather_48pt-BoldItalic.ttf</string>
		<string>Merriweather_48pt-ExtraBold.ttf</string>
		<string>Merriweather_48pt-ExtraBoldItalic.ttf</string>
		<string>Merriweather_48pt-Italic.ttf</string>
		<string>Merriweather_48pt-Light.ttf</string>
		<string>Merriweather_48pt-LightItalic.ttf</string>
		<string>Merriweather_48pt-Medium.ttf</string>
		<string>Merriweather_48pt-MediumItalic.ttf</string>
		<string>Merriweather_48pt-Regular.ttf</string>
		<string>Merriweather_48pt-SemiBold.ttf</string>
		<string>Merriweather_48pt-SemiBoldItalic.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-Black.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-BlackItalic.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-Bold.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-BoldItalic.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-ExtraBold.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-Italic.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-Light.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-LightItalic.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-Medium.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-MediumItalic.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-Regular.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-SemiBold.ttf</string>
		<string>Merriweather_48pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Merriweather_96pt-Black.ttf</string>
		<string>Merriweather_96pt-BlackItalic.ttf</string>
		<string>Merriweather_96pt-Bold.ttf</string>
		<string>Merriweather_96pt-BoldItalic.ttf</string>
		<string>Merriweather_96pt-ExtraBold.ttf</string>
		<string>Merriweather_96pt-ExtraBoldItalic.ttf</string>
		<string>Merriweather_96pt-Italic.ttf</string>
		<string>Merriweather_96pt-Light.ttf</string>
		<string>Merriweather_96pt-LightItalic.ttf</string>
		<string>Merriweather_96pt-Medium.ttf</string>
		<string>Merriweather_96pt-MediumItalic.ttf</string>
		<string>Merriweather_96pt-Regular.ttf</string>
		<string>Merriweather_96pt-SemiBold.ttf</string>
		<string>Merriweather_96pt-SemiBoldItalic.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-Black.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-BlackItalic.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-Bold.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-BoldItalic.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-ExtraBold.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-Italic.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-Light.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-LightItalic.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-Medium.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-MediumItalic.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-Regular.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-SemiBold.ttf</string>
		<string>Merriweather_96pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Mulish-Regular.ttf</string>
		<string>Mulish-SemiBold.ttf</string>
		<string>Mulish-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
	</dict>
</dict>
</plist>
